@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: var(--font-lufga), system-ui, sans-serif;
  }
}

@layer base {
  :root {
    --background: #FFFFFF;
    --background-secondary: #F6F6FF;
    --foreground: #333333; 
    --card: #ffffff;
    --card-foreground: #333333;
    --popover: #ffffff;
    --popover-foreground: #333333;
    --primary: #8751FF; 
    --primary-foreground: #E7DCFF; 
    --secondary: #F3EDF7; 
    --secondary-foreground: #8F8F8F;
    --muted: #F3EDF7;
    --muted-foreground: #858585; 
    --accent: #9E9E9E;
    --accent-foreground: #333333;
    --destructive: #ff5733;
    --destructive-foreground: #FDFDFD;
    --border: #d1d8df;
    --input: #F0EAFF;
    --ring: #E5DDFF;
    --chart-1: #f9b6c7; 
    --chart-2: #68b2c5; 
    --chart-3: #3b7289;
    --chart-4: #cfa53c; 
    --chart-5: #f4a63f; 
    --radius: 0.5rem;
    --icon-bright: #9B7EBD;
  }
  .dark {
    --background: #151419;
    --background-secondary: #1D1E22;
    --foreground: #C0BFC7;
    --card: #151419;
    --card-foreground: #FDFDFD;
    --popover: #151419;
    --popover-foreground: #FDFDFD;
    --primary: #B1A3FB;
    --primary-foreground: #393056; 
    --secondary: #2B2C30; 
    --secondary-foreground: #808693;
    --muted: #4d3e2b;
    --muted-foreground: #B9B9B9; 
    --accent: #9E9E9E;
    --accent-foreground: #686868;
    --destructive: #f04e23; 
    --destructive-foreground: #FDFDFD;
    --border: #282630; 
    --input: #232130; 
    --ring: #323232;
    --chart-1: #539fdd;
    --chart-2: #5a8c5e; 
    --chart-3: #f4c72d; 
    --chart-4: #6c3b6e; 
    --chart-5: #e11b76; 
    --icon-bright: #FFFFFF;
    --textprimary: #9E9E9E;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.button-inactive {
  position: relative;
  overflow: hidden;
  border-bottom: transparent;
}

.button-inactive::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 4px;
  background-color: var(--primary);
  transition: all 0.5s ease;
  transform: translateX(-50%);
}

.button-inactive:hover::after {
  width: 100%;
}
