@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: #ffffff; 
    --foreground: #333333; 
    --card: #ffffff;
    --card-foreground: #333333;
    --popover: #ffffff;
    --popover-foreground: #333333;
    --primary: #DDD1E8; 
    --primary-foreground: #9B7EBD; 
    --secondary: #F3EDF7; 
    --secondary-foreground: #18181B;
    --muted: #F3EDF7;
    --muted-foreground: #858585; 
    --accent: #F3EDF7;
    --accent-foreground: #333333;
    --destructive: #ff5733;
    --destructive-foreground: #FDFDFD;
    --border: #d1d8df;
    --input: #d1d8df;
    --ring: #333333;
    --chart-1: #f9b6c7; 
    --chart-2: #68b2c5; 
    --chart-3: #3b7289;
    --chart-4: #cfa53c; 
    --chart-5: #f4a63f; 
    --radius: 0.5rem;
    --gradient-start: #9B7EBD;
    --gradient-end: #3B1E54;
    --gradient: linear-gradient(to left, var(--gradient-start), var(--gradient-end));
    --text-dark: #9B7EBD;
    --text-light: #FDFDFD;
    --text-hover: #D4BEE4;
    --icon-bright: #9B7EBD;
  }
  .dark {
    --background: #1A1A19;
    --foreground: #FDFDFD;
    --card: #1A1A19;
    --card-foreground: #FDFDFD;
    --popover: #1A1A19;
    --popover-foreground: #FDFDFD;
    --primary: #222E1B;
    --primary-foreground: #F6FCDF; 
    --secondary: #2F3520; 
    --secondary-foreground: #FDFDFD;
    --muted: #4d3e2b;
    --muted-foreground: #B9B9B9; 
    --accent: #859F3D;
    --accent-foreground: #FDFDFD;
    --destructive: #f04e23; 
    --destructive-foreground: #FDFDFD;
    --border: #383838; 
    --input: #314020; 
    --ring: #3b3b3b;
    --chart-1: #539fdd;
    --chart-2: #5a8c5e; 
    --chart-3: #f4c72d; 
    --chart-4: #6c3b6e; 
    --chart-5: #e11b76; 
    --gradient-start: #859F3D;
    --gradient-end: #31511E;
    --gradient: linear-gradient(to left, var(--gradient-start), var(--gradient-end));
    --text-dark: #859F3D; 
    --text-light: #F6FCDF;
    --text-hover: #607C2F;
    --icon-bright: #859F3D;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.button-inactive {
  position: relative;
  overflow: hidden;
  border-bottom: transparent;
}

.button-inactive::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 4px;
  background-color: var(--secondary-foreground);
  transition: all 0.5s ease;
  transform: translateX(-50%);
}

.button-inactive:hover::after {
  width: 100%;
}
