
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins', system-ui, sans-serif;
  }
}

@layer base {
  :root {
    --background: #FFFFFF;
    --background-secondary: #F4F6F9;
    --foreground: #17161B; 
    --card: #ffffff;
    --card-foreground: #333333;
    --popover: #ffffff;
    --popover-foreground: #333333;
    --primary: #B1A3FB; 
    --primary-foreground: #E7DCFF; 
    --secondary: #F4F6F9; 
    --secondary-foreground: #808693;
    --muted: #F3EDF7;
    --muted-foreground: #858585; 
    --accent: #F4F6F9;
    --accent-foreground: #333333;
    --destructive: #ff5733;
    --destructive-foreground: #FDFDFD;
    --border: #d1d8df;
    --input: #F0EAFF;
    --ring: #E5DDFF;
    --chart-1: #f9b6c7; 
    --chart-2: #68b2c5; 
    --chart-3: #3b7289;
    --chart-4: #cfa53c; 
    --chart-5: #f4a63f; 
    --radius: 0.5rem;
    
  }
  .dark {
    --background: #141519;
    --background-secondary: #1D1E22;
    --foreground: #C0BFC7;
    --card: #141519;
    --card-foreground: #C0BFC7;
    --popover: #141519;
    --popover-foreground: #C0BFC7;
    --primary: #B1A3FB;
    --primary-foreground: #393056; 
    --secondary: #2B2C30; 
    --secondary-foreground: #808693;
    --muted: #4d3e2b;
    --muted-foreground: #B9B9B9; 
    --accent: #212125;
    --accent-foreground: #2A2A2F;
    --destructive: #f04e23; 
    --destructive-foreground: #C0BFC7;
    --border: #2B2C30; 
    --input: #232130; 
    --ring: #323232;
    --chart-1: #539fdd;
    --chart-2: #5a8c5e; 
    --chart-3: #f4c72d; 
    --chart-4: #6c3b6e; 
    --chart-5: #e11b76; 
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.button-inactive {
  position: relative;
  overflow: hidden;
  border-bottom: transparent;
}

.button-inactive::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 4px;
  background-color: var(--primary);
  transition: all 0.5s ease;
  transform: translateX(-50%);
}

.button-inactive:hover::after {
  width: 100%;
}
